.Intro{
    background-color: none;
}
.TodoDiv1{
    background-color: none;
}
.TodoDiv1-1{
    width: 50%;
    float: left;
}
.TodoDiv1-2{
    width: 50%;
    float: left;
}
#rock{
    background-image: url("home/img/rock1.jpg");
}