.Intro{
    background-color: none;
}
.TodoDiv1{
    background-color: none;
}
.TodoDiv1-1{
    width: 45%;
    float: left;
}
.TodoDiv1-2{
    width: 32%;
    float: left;
}
#SetUpPara{
    margin-top: 3%;
    margin-left: 5%;
}
#SetUpTextArea{
    margin-left: 5%;
    width: 90%;
}
#SetUpButton{
    background-color: lightpink; 
    width: 30%; 
    margin-top: 3%;
}
#SetUpTitle{
    margin-top: 3.5%; 
    margin-left: 3%; 
    color: green;
}
#IntroTODOLIST{
    margin-top: 30px; 
    color: deeppink;
}
#TitleINPROGRESS{
    color: red;
}
#StyleTaskList{
    padding-left: 12%; 
    margin-top: 4%;
    width: 500px;
}
#BGColor_218_213_213{
    background-color: rgb(218, 213, 213);
}
#StyleTaskCard{
    text-align: center; 
    margin-left: 30px; 
    margin-right: 30px;
    background-color: white;
    width: 90%;
}
#UpdateButton{
    background-color: blue; 
    width: 30%; 
    height: 4%; 
    margin-left: -1%;
    display: inline-block;
}
#DeleteButton{
    background-color: red; 
    width: 30%; 
    height: 4%; 
    margin-left: -1%;
    display: inline-block;
}
