<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="UTF-8">
    {% load static %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<style>
    .Intro{
        background-color: lightgray;
    }
    .TodoDiv1{
        padding-left: 30%; 
        padding-right: 30%;
        padding-top: 7.1%;
        padding-bottom: 7.1%;
    }
</style>
    <body>
        <div class="Intro">
            <div class="TodoDiv1">
                {% block input %}
                {% endblock %}
            </div>
        </div>
    </body>