{% extends "pages/base2.html" %}
{% load crispy_forms_filters %}
{% block title %}
    ToDo
{% endblock %}

{% block intro %}
    <center class="row" style="text-align: center">
        <h1 style="margin-left: 30px; margin-top: 30px; color: deeppink"><i>TODO LIST</i></h1>
    </center>
    <hr>
{% endblock %}

{% block worklist %}

        <div class="row" style="margin-left: 200px; margin-top: 30px">
            <div class="col-md-8">
                {% for task in task_list %}
                    <div class="card" style="text-align: center;">
                            <b style="margin-top: 10px">{{ task.title }}</b>
                            <hr>
                            {{ task.contents }}
                            <hr>
                            {{ task.date }}
                            <br/>
                            <br/>
                        <form action="/del/{{ task.id }}" method="POST">
                        {% csrf_token %}
                        <button value="Remove" type="submit"  style="background-color: green; margin-left: 250px; width:40px; height: 40px" class="btn btn-default"></button>
                            <button value="Done" type="submit"  style="background-color: red; width:40px; height: 40px" class="btn btn-default"></button>
                    </form>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}

{% block input %}
    <form method = "POST">
        {% csrf_token %}
        {{forms|crispy}}
        <div style="text-align: center;">
            <input type="submit" style="background-color: lightpink; margin-top: 10px;" class="btn btn-default" value="Submit">
        </div>
    </form>
{% endblock %}
