.card {
    background: lightpink;
    margin-bottom: 5%;
    border-radius: 25px;
    padding: 2%;
    overflow: auto;
    resize: both;
    text-overflow: ellipsis;
}

.card:hover {
    background: lightblue;
}

.submit_form {
    text-align: center;
    padding: 3%;
    background: pink;
    border-radius: 25px;
}
